.board{
    height: 640px;
    width: 640px;
    margin: 20px;
    
}
.black{
    background-color: black;
    width: 12.5%;
    height:12.5%;
    color: white;

    
}
.white{
    background-color: white;
    width: 12.5%;
    height: 12.5%;
    color:black;
}
