.feedback{
    color: red;
    float: left;
    position: absolute;
    font-size: 1.7rem;
    bottom: 0;
}
.winnerMSG{
    margin: 0;
    position: absolute;
    font-size: 8rem;
    color: black;
    top: 25%;
    width: 99%;
    text-align: center;
    background-color: rgba(59, 59, 59, 0.719);
    padding-top: 30px;
    padding-bottom: 30px;
}
.winnerMSGHidden{
    display: none;
    text-align: center;
}
.gameContainerHidden{
    display: none;
}
.gameContainer{
    display: block;
}
.leftPanel{
    padding: 5px;
    margin: 5px;
    float: left;
    display: block;
    height: 90%;
}
.playerR{
    color: red;
    font-size: 3rem;
    margin: 2px;
}
.playerB{
    color: blue;
    font-size: 3rem;
    margin: 2px;
}