.timer{
    width: 100%;
    margin: 0px;
}
.timer ul{
    border: solid #cccccc 3px;
    margin: 1px;
    padding: 2px;
    list-style: none;
}
.timer ul li{
    border-top: #cccccc 1px dashed;
}
.timer h2{
    padding: 1px;
    margin: 1px;
}