@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #85c8ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.black{
  background-color: black;
  width: 12.5%;
  height:100%;
  color: white;
}
.white{
  background-color: white;
  width: 12.5%;
  height: 100%;
  color:black;
}
.board{
  height: 1000px;
  width: 1000px;
  margin: 2px;
  float: right;
}
.Row{
  height: 12.5%;
}
